body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: #fff;
    padding: 0;
    margin: 0;
}
.card {
    margin: 0.25em;
    border: 1px solid #555;
    padding: 0.25em;
    border-radius: 0.15em;
}
.nav {
    background-color: #4caf50;
    border-top: 0.25em solid #80e27e;
    border-bottom: 0.5em solid #087f23;
    padding: 0.75em 0.25em;
}
.nav .links {
    display: flex;
    justify-content: flex-end;
}
.nav .links a {
    padding: 0em 0.25em;
    color: #222;
    display: inline-block;
    font-size: 1.2em;
}
.garage .button {
    color: #4caf50;
    background-color: #222;
    border: 2px solid #4caf50;
    border-radius: 0.15em;
    font-size: 1.5em;
    padding: 0.3em 1em;
    margin: 0.5em;
}
.garage .button:hover {
    color: #222;
    background-color: #4caf50;
}
.garage .button:disabled {
    color: #777;
    border-color: #777;
    background-color: #222;
}

@media only screen and (max-device-width: 480px) {
    body {
        font-size: 3.5em;
        background-color: #fff;
        color: #222;
    }
    .nav {
        display: none;
    }
    .garage .button {
        background-color: #4caf50;
        color: #222;
        box-shadow: 0.0em 0.3em 0.5em #777;
        border-radius: 0.25em;
        padding: 0.75em;
    }
    .garage .button:disabled {
        background-color: #fff;
    }
    .card {
        box-shadow: 0.0em 0.1em 0.5em #bbb;
        border-color: #bbb;
    }
    .card div {
        display: flex;
        justify-content: center;
    }
    .info {
        font-size: 0.6em;
        color: #777;
    }
    img {
        min-width: 10%;
        max-width: 90%;
        border-radius: 0.15em;
    }

}

